html {
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-bottom: 5%;
}

main, form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
}